@page
@using AnimalHouseRestAPI.Models
@model ah4cClientApp.Pages.BookingPageModel
@{
}
<div class="banner">
    <div class="banner-content">
        <div class="banner-title">Добро пожаловать в отель для домашних животных</div>
        <div class="banner-description">
            Где к вашим питомцам относятся как к членам семьи
        </div>
    </div>

</div>
<h2 class="page-maintitle">Выберите нужные даты</h2>
<form method="post">
    <input type="date" name="admissionDate" value="admissionDate" asp-for="admissionDate">
    <input type="date" name="issueDate" value="issueDate" asp-for="issueDate">
    <button type="submit" onclick="this.form.submit()">Поиск</button>
</form>
<h2 class="page-maintitle">Свободные номера для питомцев</h2>
<div class="card-oriientation">
    @foreach (Room room in BookingPageModel.rooms)
    {
        var imagepath = room.RoomImage;
        <form method="post">
            <div id="@room.RoomId" class="roomcard">
                <div class="image-container">
                    <div class="image">
                        <a href=OrderAddPage?roomId=@room.RoomId>
                            @if (@room.RoomImage == "largeroom")
                            {
                                <img src="/assets/largeroom.jpg"/>
                            }
                            @if (@room.RoomImage == "mediumroom")
                            {
                                <img src="/assets/mediumroom.jpg"/>
                            }
                            @if (@room.RoomImage == "smallroom")
                            {
                                <img src="/assets/smallroom.jpg"/>
                            }
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <div class="card-title">@room.RoomDescription</div>
                    <div class="icon-buttons">
                        <div class="icon">🐶</div>
                        <div class="icon">🐱</div>
                    </div>
                    <div class="icon">#@room.RoomNumber</div>
                </div>
            </div>
        </form>
    }
</div>