@page
@using Newtonsoft.Json
@model ah4cClientApp.Pages.OrderAddPageModel
@{
    List<Animaltype> types = new List<Animaltype>();
    string address = "http://localhost:8081/";
    @if (ViewData["AnimalTypes"] != null)
    {
        foreach (var item in ViewData["AnimalTypes"] as List<Animaltype>)
        {
            types.Add(item);
            <br />
        }
        types = types;
    }

    var isdisplay = "none";
    if (ViewData["showerror"] != null && ViewData["showerror"] as string == "true")
    {
        isdisplay = "block";
    }
    else if (ViewData["showsuccess"] != null && ViewData["showsuccess"] as string == "true")
    {
        isdisplay = "block";
    }
}

    <style>
        .radio-container {
            display: block;
            margin-bottom: 10px;
        }

        .radio-container input[type="radio"] {
            display: none; /* Скрыть оригинальную радиокнопку */
        }

        .radio-container label {
            display: inline-block;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .radio-container input[type="radio"]:checked + label {
            background-color: #007bff; /* Изменить цвет фона для выбранной радиокнопки */
            color: #fff; /* Изменить цвет текста для выбранной радиокнопки */
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            margin: 20px auto;
            width: 50%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #666;
        }

        input, select, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
<form method="post">
    <label for="clientName">ФИО клиента</label><br />
    <input required name="clientName" /><br />
    <label for="clientPhone">Номер телефона клиента</label><br />
    <input required name="clientPhone" /><br />
    <label for="roomId">Номер комнаты</label><br />
    <input required name="roomId" value="@Model.roomId"  /><br />
    <label for="admissionDate">Дата принятия</label><br />
    <input type="date" required name="admissionDate" /><br />
    <label for="issueDate">Дата выселения</label><br />
    <input type="date" required name="issueDate" /><br />
    <label for="animalType">Вид питомца</label><br />
    <div class="radio-container">
        @if (types != null)
        {
            foreach (var item in types)
            {
                <input type="radio" id="@("typeRadio_" + item.AnimaltypeId)" name="animaltypes" required value="@item.AnimaltypeName">
                <label for="@("typeRadio_" + item.AnimaltypeId)">@item.AnimaltypeName</label>
                <br />
            }
        }
    </div>
    <label for="animalBreed">Порода питомца</label><br />
    <input type="text" required name="animalBreed" /><br />
    <label for="animalName">Кличка питомца</label><br />
    <input required name="animalName" /><br />
    <label for="animalAge">Возраст питомца</label><br />
    <input required name="animalAge" /><br />
    <label for="animalWeight">Вес питомца</label><br />
    <input required name="animalWeight" /><br />
    <label for="animalHeight">Рост питомца</label><br />
    <input required name="animalHeight" /><br />
    <label for="gens">Пол питомца</label><br />
    <div class="radio-container">
        <input type="radio" id="radioM" name="gens" value="М">
        <label for="radioM">М</label>
        <input type="radio" id="radioW" name="gens" value="Ж">
        <label for="radioW">Ж</label>
    </div>
    <input type="checkbox" name="acceptrules"/>
    <label for="acceptrules">Я даю согласие на обработку моих персональных данных</label>
    <input type="submit" value="Оплатить и забронировать" />
    <div class="form-group" style="display:@isdisplay">
        <span style="color:red">@ViewData["customerror"]</span>
    </div>
    <div class="form-group" style="display:@isdisplay">
        <span style="color:green">@ViewData["customsuccess"]</span>
    </div>
</form>
<form action="/BookingPage">
    <input type="submit" value="Вернуться назад"/>
</form>

